html[data-theme="light"] {
    --pst-color-primary: #0092d2;
    --pst-color-info: #0092d2;
    --pst-color-text-muted: #888;
}

body {
    line-height: 1.75;
    font-weight: 300;
}

.bd-article-container h1 {
    color: #0092d2;
}

.navbar-brand .logo__image {
    height: 36px !important;
}

.bd-header {
    box-shadow: none;
    border-bottom: 1px solid var(--pst-color-shadow);
}

#rtd-footer-container {
    height: 0px;
    bottom: 0 !important;
    margin: 0 !important;
    display: none;
}
